<div class="d-flex align-items-center justify-content-center vh-100 bg-body-secondary">
    <div class="w-25">
        <img src="assets/imgs/diary.svg" alt="diary">
    </div>
    <div class="m-auto form-signin w-25 bg-white p-4 rounded-3">

        <form [formGroup]="myForm" (ngSubmit)="login()">
            <h1 class="h3 mb-3 fw-normal">Bienvenido</h1>

            <div class="form-floating mb-2">
                <input type="email" formControlName="correo" class="form-control" id="floatingInput" placeholder="name@example.com">
                <label for="floatingInput">Correo</label>
            </div>
            <div class="form-floating mb-2">
                <input type="password" formControlName="contraseña" class="form-control" id="floatingPassword" placeholder="Password">
                <label for="floatingPassword">Contraseña</label>
            </div>

            <div class="checkbox mb-3">
                <label>
                    <input type="checkbox" value="remember-me"> Recordarme
                </label>
            </div>
            <button [disabled]="myForm.invalid" class="w-100 btn btn-lg btn-primary" type="submit">Ingresar</button>
            <p class="mt-5 mb-3 text-muted">¿No tienes una cuenta?</p>
            <a routerLink="/auth/register" class="link-primary">Registrarme</a>
        </form>
    </div>
</div>